{% extends 'GestionFraisBundle:Utilisateur/LigneFraisHorsForfait:layout.html.twig' %}
{% block contenu %}
    <table class="table table-bordered" >
        <thead>
        <tr>
            <th>Date</th>
            <th>Montant</th>
            <th>Etat</th>
        </tr>
        </thead>
            <tbody >
            <tr>
                <td> {{ uneLigneFraisHorsForfait.date|date("d/m/Y")}} </td>
                <td>{{ uneLigneFraisHorsForfait.montant }} €</td>
                <td>{{ uneLigneFraisHorsForfait.getIdetatlignefrais().getLibelleetatlignefrais() }}</td>
            </tr>
            </tbody>
    <table class="table table-bordered" >
        <thead>
            <tr>
                <th>Libelle </th>
            </tr>
        </thead>
        <tbody >
            <tr>
                <td>{{ uneLigneFraisHorsForfait.libellelignehorsforfait }}</td>
            </tr>
        </tbody>
    </table>
    {{ dump(app.request.getBaseURL()) }}
    {% set urlJustificatif = uneLigneFraisHorsForfait.justificatif  %}
    <a href="{{ urlJustificatif }}">Piece Jointe</a>



{% endblock %}