{% extends 'GestionFraisBundle:Utilisateur/LigneFraisHorsForfait:layout.html.twig' %}
{% block contenu %}
    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

    {# Les erreurs générales du formulaire. #}
    {{ form_errors(form) }}

    {# Génération du label. #}
    {{ form_label(form.date, "Date", {'label_attr': {'class': ' control-label'}}) }}
    {# Affichage des erreurs pour ce champ précis. #}
    {{ form_errors(form.date) }}
    {# Génération de l'input. #}
    {{ form_widget(form.date, {'attr': {'class': '' } }) }}


    {{ form_label(form.montant, "Montant", {'label_attr': {'class': ' control-label'}}) }}
    {{ form_errors(form.montant) }}
    {{ form_widget(form.montant, {'attr': {'class': 'form-control' ,'min': 0 } }) }}

    {{ form_label(form.libellelignehorsforfait, "Libelle", {'label_attr': {'class': ' control-label'}}) }}
    {{ form_errors(form.libellelignehorsforfait) }}
    {{ form_widget(form.libellelignehorsforfait, {'attr': {'class': 'form-control' }}) }}

    {{ form_label(form.file, "Justificatifs", {'label_attr': {'class': ' control-label'}}) }}
    {{ form_errors(form.file) }}
    {{ form_widget(form.file, {'attr': {'class': 'btn' }}) }}


    {# Pour le bouton, pas de label ni d'erreur, on affiche juste le widget #}
    {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}}) }}

    {# Génération automatique des champs pas encore écrits.
    Dans cet exemple, ce serait le champ CSRF (géré automatiquement par Symfony !)
    et tous les champs cachés (type « hidden »). #}
    {{ form_rest(form) }}

    {# Fermeture de la balise <form> du formulaire HTML #}
    {{ form_end(form) }}
    <div class="col-sm-offset-11 col-xs-offset-10">
    <a class="btn-link" href="{{ path('lignefraishorsforfait_delete', {id: ligneFraisHF.id}) }}">Supprimer</a>
    </div>

{% endblock %}