<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>

        {% block stylesheets %}{% endblock %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

    </head>
    <body>
        {% block body %}{% endblock %}

        {% block javascripts %}{% endblock %}

    </body>
</html>

<div></div>
<h2>{{ ficheFrais.mois }}</h2>
<p>
    {% for item in etatFicheFrais %}
        Etat : {{ item.libelle }}
    {% endfor %}
</p>
<p>

<div>
    {{ ficheFrais.dateMofif }}
    <div>

</p>
</div>
<br>
<div>
    {% for item in etatLigneFrais %}
        {{ dump(item) }}
    {% endfor %}
</div>
<br>
<div>
    {% for item in ligneFraisForfait %}
        {{ dump(item) }}
    {% endfor %}
</div>
<br>
<div>
    {% for item in ligneFraisHorsForfait %}
        {{ dump(item) }}
    {% endfor %}
</div>
</div>

















<table class="table table-bordered">
    <thead>
    <tr>
        <th><p>Date</p></th>
        <th><p>Montant</p></th>
    </tr>

    </thead>
    <tbody>
    <td>
        <input type="date"  id ="'+num+'Date" class="form-control">
    </td>
    <td>
        <input type="number" value="0" id="'+num+'Montant " class="form-control">
    </td>

    <table class="table table-bordered">
        <thead>
        <tr>
            <th><p>Libelle</p></th>
        </tr>
        </thead>

        <tbody>
        <tr>
            <td>
                <textarea type="textarea" id="'+num+'Libelle" class="form-control"></textarea>
            </td>
        </tr>
        </tbody>
    </table>
    </tbody>
</table>