<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">


    <!-- Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
    <link href="{{ asset('Css/bootstrap.min.css') }}" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="{{ asset('Css/style.css') }}" rel="stylesheet">
    <link href="{{ asset('Css/form.css') }}" rel="stylesheet" xmlns="http://www.w3.org/1999/html">
    <link href="{{ asset('Css/simple-sidebar.css') }}" rel="stylesheet" xmlns="http://www.w3.org/1999/html">
    <link href="{{ asset('Css/popup.css') }}" rel="stylesheet" xmlns="http://www.w3.org/1999/html">





    {% block stylesheets %}{% endblock %}


    <!-- Custom Fonts -->
    <link rel="icon" type="image/png" href="img/favicon.png" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <title>{% block title %}{% endblock %}</title>

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>

<body id="body">


<div id="wrapper">
    <a href="#menu-toggle" id="menu-toggle"><i class="glyphicon glyphicon-menu-hamburger"></i></a>

    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <a class="navbar-brand" href="{{ path('Gestion_frais_homepage') }}">
                    <img onclick="footerDown()" alt="Brand" src="{{ asset('Images/logo_gsb.png') }}">
                </a>
            </li>
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                <li>
                    <a href="javascript:;" data-toggle="collapse" data-target="#demo">
                        <i class="fa fa-fw fa-arrows-v"></i> {{  app.user.prenom }} {{  app.user.nom }} <i class="glyphicon glyphicon-cog "></i>
                        <i class="fa fa-fw fa-caret-down"></i>
                    </a>
                    <ul id="demo" class="collapse">
                        <li>
                            <a href="{{ path('visiteur_modifiermotdepasse') }}">Changer de mot de passe</a>
                        </li>
                        <li>
                            <a href="{{ path('visiteur_modifiercoordonnee') }}">Modifier cordonnées</a>
                        </li>
                        <li>
                            <a href="{{ path('fos_user_security_logout') }}">{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</a>
                        </li>

                    </ul>
                </li>
            {% else %}
                <li><a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a></li>
            {% endif %}

            {% if  app.user is not null  %}
                {% include 'GestionFraisBundle::sidebar.html.twig' %}
            {% endif %}


        </ul>
    </div>
    <!-- Page Content -->
    <div id="page-content-wrapper">
        {% block body %}{% endblock %}
    </div>
    <!-- /#page-content-wrapper -->

</div>







</body>
{% block javascripts %}{% endblock %}
<script src="{{ asset('JavaScript/jquery.js') }}"></script>

<script src="{{ asset('JavaScript/bootstrap.min.js') }}"></script>

<script src="{{ asset('JavaScript/popup.js') }}"></script>


<script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
</script>
</html>
