<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">


    <!-- Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
    <link href="{{ asset('Css/bootstrap.min.css') }}" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="{{ asset('Css/style.css') }}" rel="stylesheet">
    <link href="{{ asset('Css/form.css') }}" rel="stylesheet" xmlns="http://www.w3.org/1999/html">
    <link href="{{ asset('Css/simple-sidebar.css') }}" rel="stylesheet" xmlns="http://www.w3.org/1999/html">




    {% block stylesheets %}{% endblock %}


    <!-- Custom Fonts -->
    <link rel="icon" type="image/png" href="img/favicon.png" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <title>{% block title %}{% endblock %}</title>

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>

<body id="body">

    {% block navbar %}{% endblock %}
    {% block body %}{% endblock %}

</body>
{% block javascripts %}{% endblock %}
<script src="{{ asset('JavaScript/jquery.js') }}"></script>

<script src="{{ asset('JavaScript/bootstrap.min.js') }}"></script>
</html>
