{% extends 'GestionFraisBundle:Utilisateur:base.html.twig' %}


{%  block body %}
    <div class="bandeau"></div>
    <div class="container">
        <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12 " id="contenu">
            <div class="container">
                <div class="row">
                    <div class="col-sm-3 col-xs-6">
                        <p>{{ uneFicheFrais.getIdVisiteur().getNom() }} {{ uneFicheFrais.getIdVisiteur().getPrenom() }}</p>
                    </div>
                    <div class="col-sm-3 col-xs-6">
                        <p> Mois : {{ uneFicheFrais.mois }}//{{ uneFicheFrais.annee }}</p>
                    </div>

                    <div class="col-sm-6 col-xs-12">
                        <p>Date modification : {{ uneFicheFrais.dateModif|date("d/m/Y") }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3 col-xs-12">
                        <p> Etat : {{ uneFicheFrais.getIdetatfichefrais().getlibelle() }}</p>
                    </div>
                </div>

                <div class="row" id ="fraisForfait">
                    <h3>Frais Forfait</h3>
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th><p>Date</p></th>
                            <th><p>Libelle</p></th>
                            <th><p>Quantité</p></th>
                            <th><p>Montant</p></th>
                            <th><p>Etat</p></th>
                            <th><p>Afficher</p></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for uneLigneFraisForfait in uneFicheFrais.lignesFraisForfaits %}
                            <tr>
                                <td>
                                    <p>{{ uneLigneFraisForfait.date}}</p>
                                </td>
                                <td>
                                    <p>{{ uneLigneFraisForfait.getIdfraisforfait().getLibellefraisforfait }}</p>
                                </td>
                                <td>
                                    <p> {{ uneLigneFraisForfait.quantite }} </p>
                                </td>
                                <td>
                                    <p> {{ uneLigneFraisForfait.montant }} €</p>
                                </td>
                                <td>
                                    <p>{{ uneLigneFraisForfait.getIdetatlignefrais().getLibelleetatlignefrais() }} </p>
                                </td>
                                <td><a href="{{ path('lignefraisforfait_afficher', {'id': uneLigneFraisForfait.id}) }}">Consulter</a></td>

                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                    <a class = "btn btn-default" href = "{{ path('lignefraishorsforfait_ajouter',{id: uneFicheFrais.id}) }}">Ajouter</a>

                </div>

                <div class="bandeau-small"></div>

                <div class="row">
                    <h3>Frais Hors Forfait</h3>
                    <table class="table table-bordered" >
                        <thead>
                        <tr>
                            <th>Date</th>
                            <th>Montant</th>
                            <th>Libellé</th>
                            <th>Etat</th>
                            <th>Afficher</th>

                        </tr>
                        </thead>
                        {% for uneLigneFraisHorsForfait in uneFicheFrais.lignesFraisHorsForfaits %}
                            <tbody >

                            <tr class="lien-tableau" onclick="location.href='{{ path('lignefraishorsforfait_afficher', {id: uneLigneFraisHorsForfait.id}) }}'">
                                <td> {{ uneLigneFraisHorsForfait.date|date("d/m/Y")}} </td>
                                <td>{{ uneLigneFraisHorsForfait.montant }} €</td>
                                <td class="block">{{ uneLigneFraisHorsForfait.libellelignehorsforfait }}</td>
                                <td>{{ uneLigneFraisHorsForfait.getIdetatlignefrais().getLibelleetatlignefrais() }}</td>
                                <td><a href="{{ path('lignefraishorsforfait_afficher', {'id': uneLigneFraisHorsForfait.id}) }}">Afficher</a></td>
                            </tr>
                            </tbody>
                        {% endfor %}
                    </table>
                </div>
                <div class="bandeau-small"></div>
                </form>
            </div>
        </div>
    </div>


{% endblock  %}
