

{% if role == 'utilisateur' %}
    <li>
        <a href="{{ path('utilisateur_saisirFrais')}}">Acceuil</a>
    </li>
    <li>
        <a href="{{ path('utilisateur_lignefraisforfait',{'operation' : 'ajouter', 'idLigneFraisForfait' : 0}) }}">Saisir frais forfaitaire</a>
    </li>
    <li>
        <a href="{{ path('utilisateur_lignefraishorsforfait',{'operation' :'ajouter', 'idLigneFraisHorsForfait' : 0}) }}">Saisir frais non forfaitaire</a>
    </li>
    <li>
        <a href="{{ path('utilisateur_rechercherfichefrais')}}">Rechercher fiche</a>
    </li>
{% endif %}

{% if role == 'comptable' %}
    <li>
        <a href="{{ path('comptable_index')}}">Acceuil</a>
    </li>
    <li>
        <a href="{{ path('comptable_rechercherfichefrais')}}">Rechercher fiche</a>
    </li>
    <li>
        <a  href="{{ path('comptable_fichefraiscloturer') }}" onclick="return confirm('Etes vous sûre de vouloir cloturer ces fiche ?')">Cloturer fiches mois précedent</a>
    </li>
{% endif %}

{% if role == 'administrateur' %}
    <li>
        <a href="{{ path('administrateur_index')}}">Acceuil</a>
    </li>

{% endif %}

