{% extends '::base.html.twig' %}
{%  block body %}

    <div class="container">
        <dv class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12" id="contenu" >
            <h2 class="">Fiche Frais</h2>
            <div class="bandeau"></div>

                {% for fiche in ficheFrais %}
                    {% set etatFiche = "" %}
                    {% set action = "" %}
                    {% set libelleMois = [fiche.mois[0:2],fiche.mois[2:]]|join('/') %}
                    {% for etat in etatFicheFrais %}
                        {% if etat.id == fiche.idEtatFicheFrais %}
                            {%  set etatFiche = etat.libelle %}
                            {% if etatFiche != "Fiche créée, saisie en cours" %}
                                {% set action = "utilisateur_consulter" %}
                            {% else %}
                                {% set action = "utilisateur_renseigner" %}
                            {% endif %}
                        {% endif %}
                    {% endfor %}

                    <a class="lien-fiche" href="{{ path(action, {mois: fiche.mois}) }}">
                        <div class="row" id = "{{ fiche.mois }}">
                            <div class="col-sm-6">
                                <p>Mois : {{ libelleMois }}</p>
                            </div>
                            <div class="col-sm-6">
                                <p>Date de modification : {{ fiche.dateModif|date("d/m/Y") }}</p>
                            </div>
                            <div class="col-xs-12">
                                <p>Etat : {{ etatFiche }}</p>
                            </div>
                        </div>
                    </a>
                    <div class="bandeau-small"></div>
                {% endfor %}
        </div>
    </div>

{% endblock  %}
