{% extends '::base.html.twig' %}
{%  block body %}
    <div class="row" id ="fraisHorsForfait">
        <h3>Frais Hors Forfait</h3>
        <div class="bandeau-small"></div>
            {% set nbFraisHorsForfait =  nbFraisHorsForfait + 1  %}
            <div class="row" id="fraisHorsForfait{{ ligneFraisHorsForfait.num }}">
                <table class="table table-bordered" >
                    <h4>Frais hors forfait</h4>
                    <thead>
                    <tr>
                        <th><p>Date (jj/mm/aaa)</p></th>
                        <th><p>Montant</p></th>
                    </tr>

                    </thead>
                    <tbody>
                    <td>
                        <input type="date" value="{{ ligneFraisHorsForfait.date|date('d/m/Y') }}" name ="date[{{ ligneFraisHorsForfait.num }}]" class="form-control" onblur="verifChampDate(this)">
                    </td>
                    <td>
                        <input type="number" value="{{ ligneFraisHorsForfait.montant }}" name="montant[{{ ligneFraisHorsForfait.num }}]" class="form-control" onblur="verifChampNumerique(this)">
                    </td>

                    <table class="table table-bordered" id="libelleHF">
                        <thead>
                        <tr>
                            <th><p>Libelle</p></th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr>

                            <td>
                                <textarea type="textarea"  name="libelle[{{ ligneFraisHorsForfait.num }}]" class="form-control" onblur="verifChampText(this)">{{ ligneFraisHorsForfait.libelleLigneHorsForfait }}</textarea>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    </tbody>
                </table>
                <buton class="btn btn-default btn-suprimerFraisHF col-xs-3 col-xs-offset-9" id="btn-suprimer{{ ligneFraisHorsForfait.num }}" onclick="suprimerFrais('{{ ligneFraisHorsForfait.num }}');">Suprimer</buton>
            </div>
            <div class="bandeau-small"></div>
        {% endfor %}
    </div>
