{% extends '::base.html.twig' %}

{% block title %}Saisie frais{% endblock  %}

{% block stylesheets %}
    <link href="{{ asset('Css/form.css') }}" rel="stylesheet" xmlns="http://www.w3.org/1999/html">{% endblock %}

{%  block body %}
    {% if form is defined %}
        {% include 'GestionFraisBundle:Form:form.html.twig'  %}
    {% endif %}
    {% set role = app.user.roleStr %}

    <div class="container-fluid">

        {% if uneFicheFrais is defined %}
        <div class="col-lg-10 col-lg-offset-1 col-md-12 " id="contenu" >
            <div class="container">
                <div class="row">
                    <div class="col-sm-3 col-xs-6">
                        <p>{{ uneFicheFrais.getIdVisiteur().getNom() }} {{ uneFicheFrais.getIdVisiteur().getPrenom() }}</p>
                    </div>
                    <div class="col-sm-3 col-xs-6">
                        <p> Mois : {{ uneFicheFrais.mois }}/{{ uneFicheFrais.annee }}</p>
                    </div>

                    <div class="col-sm-6 col-xs-12">
                        <p>Date modification : {{ uneFicheFrais.dateModif|date("d/m/Y") }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-xs-12">
                        <p> Etat : {{ uneFicheFrais.idetatfichefrais.libelle() }}
                            {% if role == 'comptable' %}
                                <a href="{{ path('comptable_modifieretatfichefrais', {'idFicheFrais': uneFicheFrais.id}) }}">Modifier </a>
                            {% endif %}
                        </p>
                    </div>
                    <div class="col-sm-3 col-xs-12">
                        <p> MontantValide : {{ uneFicheFrais.montantvalide }} €</p>
                    </div>
                </div>
                <div class="row" id ="fraisForfait">
                    <h3>Frais forfaitaires</h3>
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th><p>Date</p></th>
                            <th><p>Type de Frais</p></th>
                            <th><p>Quantité</p></th>
                            <th><p>Montant</p></th>
                            <th><p>Etat</p></th>
                            <th><p>Action</p></th>
                        </tr>
                        </thead>
                        </tbody>
                        {% for uneLigneFraisForfait in uneFicheFrais.lignesFraisForfaits %}
                            <tr>
                                <td>
                                    <p>{{ uneLigneFraisForfait.date|date("d/m/Y")}}</p>
                                </td>
                                <td>
                                    <p>{{ uneLigneFraisForfait.idfraisforfait.libellefraisforfait }}</p>
                                </td>
                                <td>
                                    <p> {{ uneLigneFraisForfait.quantite }} </p>
                                </td>
                                <td>
                                    <p> {{ uneLigneFraisForfait.montant }} €</p>
                                </td>
                                <td>
                                    <p>{{ uneLigneFraisForfait.getIdetatlignefrais().getLibelleetatlignefrais() }} </p>
                                </td>
                                <td>
                                    <a href="{{ path( role~'_lignefraisforfait',{'operation':operation, 'idLigneFraisForfait': uneLigneFraisForfait.id}) }}">{{ operation }}</a>
                                    {% if role == 'utilisateur' and operation == 'modifier' %}
                                        <a
                                                href="{{ path('utilisateur_lignefraisforfait', {'operation':'suprimer','idLigneFraisForfait': uneLigneFraisForfait.id}) }}"
                                                onclick="return confirm('Etes vous sûre de vouloir supprimer ce frais ?')"
                                        >
                                            <i class="glyphicon glyphicon-remove"></i>
                                        </a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>

                <div class="bandeau-small"></div>

                <div class="row">
                    <h3>Frais non forfaitaires</h3>
                    <table class="table table-bordered" >
                        <thead>
                        <tr>
                            <th><p>Date</p></th>
                            <th><p>Montant</p></th>
                            <th><p>Libellé</p></th>
                            <th><p>Etat</p></th>
                            <th><p>Motif</p></th>
                            <th><p>Action</p></th>

                        </tr>
                        </thead>
                        <tbody >
                        {% for uneLigneFraisHorsForfait in uneFicheFrais.lignesFraisHorsForfaits %}
                            <tr>
                                <td> {{ uneLigneFraisHorsForfait.date|date("d/m/Y")}} </td>
                                <td>{{ uneLigneFraisHorsForfait.montant }} €</td>
                                <td >{{ uneLigneFraisHorsForfait.libellelignehorsforfait|length > 20 ? uneLigneFraisHorsForfait.libellelignehorsforfait|slice(0,20)  ~ '...' : uneLigneFraisHorsForfait.libellelignehorsforfait  }}</td>
                                {% if  uneLigneFraisHorsForfait.getIdetatlignefrais().getLibelleetatlignefrais() == "Refusé"%}
                                    <td style="color: red;">{{ uneLigneFraisHorsForfait.getIdetatlignefrais().getLibelleetatlignefrais() }}</td>
                                {% else %}
                                    <td>{{ uneLigneFraisHorsForfait.getIdetatlignefrais().getLibelleetatlignefrais() }}</td>
                                {% endif %}
                                <td >{{ uneLigneFraisHorsForfait.motif|length > 20 ? uneLigneFraisHorsForfait.motif|slice(0,20)  ~ '...' : uneLigneFraisHorsForfait.motif  }}</td>

                                <td>
                                    <a href="{{ path( role~'_lignefraishorsforfait',{'operation':operation, 'idLigneFraisHorsForfait': uneLigneFraisHorsForfait.id}) }}">{{ operation }}</a>
                                    {% if role == 'utilisateur' and operation == 'modifier' %}
                                        <a
                                                href="{{ path('utilisateur_lignefraishorsforfait', {'operation':'suprimer','idLigneFraisHorsForfait': uneLigneFraisHorsForfait.id}) }}"
                                                onclick="return confirm('Etes vous sûre de vouloir supprimer ce frais ?')"
                                        >
                                            <i class="glyphicon glyphicon-remove"></i>
                                        </a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                </div>
                <div class="bandeau-small"></div>
            </div>
        </div>
    </div>
    {% endif %}

    <script language="javascript" src="{{ asset('JavaScript/fraisHF.js') }}"></script>

    <script language="javascript" src="{{ asset('JavaScript/verificationFiche.js') }}"></script>



{% endblock  %}
{% block javascripts %}



{% endblock %}
